<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
      <a class="navbar-brand" target="_blank" href="https://marketing.adobe.com/resources/help/en_US/target/ov/t_mbox_download.html">
        <span class="glyphicon glyphicon-briefcase"></span> Target Docs
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a ng-href="#">Home</a></li>-->
        <!--<li><a ng-href="#">About</a></li>-->
        <!--<li><a ng-href="#">Contact</a></li>-->
      </ul>

    </div>
  </div>
</nav>
