<div class="container">

  <div>
    <acme-navbar />
  </div>

  <div class="jumbotron text-center">
    <h2>Adobe Target + Angular Test App</h2>
    <img src="assets/images/angular.png" />
    <p class="lead">
      <img src="assets/images/capitalOne.jpg" alt="Capital One">
      <img src="assets/images/adobe.png" alt="Adobe"><br>
    </p>
    <!--<p class="animated infinite" ng-class="main.classAnimation">-->
      <!--<button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>-->
    <!--</p>-->
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="implementationMethod in main.implementationMethods"> <!-- | orderBy:'rank'">-->
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ implementationMethod.logo }}" alt="{{ implementationMethod.title }}">
        <div class="caption">
          <h3>{{ implementationMethod.title }}</h3>
          <p>{{ implementationMethod.description }}</p>
          <p><a ng-href="{{implementationMethod.url}}">{{ implementationMethod.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
